.App {
  text-align: center;
  display: grid;
  grid-template-areas: "header header" "nav main";
}

.h1 {
  text-align: left;
  padding-left: 30px;
  size: 10em;
}

.header {
  grid-area: header;
  background-color: rgba(13, 110, 139, 0.6);
  color: white;
  height: 10vh;
  position: relative;
  padding-left: 20px;
}

.login {
  size: 1em;
  text-align: right;
  padding-right: 20px;
  padding-bottom: 30px;
}

.nav {
  grid-area: nav;
  display: flex;
  margin-left: 20px;

  position: relative;
  top: 0;
  left: 0;
  flex-direction: column;
  color: aqua;
}

@media only screen and (max-width: 1100px) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

.container {
  max-width: 1500px;
  margin-top: 20px;
  overflow: hidden;
  padding: 0.3rem;
}

.articlesTitle {
  text-align: center;
}

.articlesList {
  grid-area: mainContent;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.articlesTitle {
  margin-top: 90px;
}

.singleArticle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.commentViewer {
  margin-top: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  transition: opacity 0.5s ease-in;
}

.loading {
  text-align: center;
}

.errMsg {
  text-align: center;
  font-size: 1.5em;
}
button:disabled {
  opacity: 0.5;
}

.commentViewer:hover {
  opacity: 0.7;
}

.article {
  text-align: center;
}

.break {
  color: gray;
  height: 1px;
}

.readComments {
  margin-bottom: 15px;
  background-color: none;
  transition: opacity 0.5s ease-in;
}

.readComments:hover {
  opacity: 0.7;
}

.articlesList {
  margin-top: 50px;
  padding: auto;
}
.submit {
  margin-left: 15px;
}

.articlesContainer {
  max-width: 950px;
}
