.banner {
  text-align: left;
  margin-left: 50px;
  margin-top: 25px;
  font-family: "Courier New";
}

.login {
  text-align: right;
  margin-right: 20px;
  font-weight: bold;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 1em 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}
#nav ul {
  list-style: none;
  padding: 0;
  display: inline;
}
#nav li {
  float: left;
}
#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-right: 1px solid #ccc;
  text-align: right;
}
#nav li:first-child a {
  border-left: 1px solid #ccc;
}
#nav li a:hover {
  color: #c00;
  background-color: #fff;
}

.image {
  align-items: center;
  margin-top: 50px;
  filter: grayscale(100%);
  margin-bottom: 50px;
}

.container {
  max-width: 1500px;
  margin-top: 20px;
  overflow: hidden;
  padding: 0.3rem;
}

.articlesTitle {
  text-align: center;
  font-family: "Courier New";
  font-weight: 800;
}
.articleList {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.articlesTitle {
  margin-top: 90px;
}

.readMore {
  color: #ccc;
  font-weight: bold;
}

.articleHeader {
  font-family: "Courier New";
  font-weight: 800;
  text-align: center;
}

.singleArticle {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Stencil Std;
  font-size: 1.3em;
}

.commentViewer {
  margin-top: 10px;
  margin-bottom: 30px;
  text-decoration: none;
  transition: opacity 0.5s ease-in;
}

.loading {
  text-align: center;
}

.errMsg {
  text-align: center;
  font-size: 1.5em;
}
button:disabled {
  opacity: 0.5;
}

.article {
  text-align: center;
}

.break {
  color: gray;
  height: 1px;
}

.submit {
  margin-left: 15px;
  font-family: Stencil Std;
  font-size: 1.3em;
}

.AddedComment {
  margin-bottom: 20px;
  align-items: center;
  font-family: Stencil Std;
  font-size: 1.3em;
}

.input {
  border: 2px solid gray;
  margin-left: 10px;
}

.card {
  margin-top: 20px;
}

.articleCard {
  border: 2px solid gray;
}

.comments {
  font-family: Stencil Std;
  font-size: 1.3em;
}

.articleCards {
  flex: 1 0 21%;
  margin: 20px;
}
